/*DEVELOPER: Zubaidah Bandele, IS117-001, Fall, 2023 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: white;
}
body {
  font-family: 'Papyrus', 'Copperplate', fantasy;
  font-size: 100%;
  width: 98%;
  max-width: 960px;
  margin: 0 auto;
  border: 3px solid silver;
  background-color: #dcdcdc;
  line-height: 1.6;
}
body a {
    background-color: white;
}
body li {
    background-color: white;
}
a:focus,a:hover {
  font-weight: bold;
}
header {
  padding: 20px;
  border-bottom: 3px solid silver;
  text-align: center;
  background-image: -moz-linear-gradient(
    30deg,
    #f6bb73 0%,
    #f6bb73 30%,
    white 50%,
    #f6bb73 80%,
    #f6bb73 100%
  );
  background-image: -webkit-linear-gradient(
    30deg,
    #f6bb73 0%,
    #f6bb73 30%,
    white 50%,
    #f6bb73 80%,
    #f6bb73 100%
  );
  background-image: -o-linear-gradient(
    30deg,
    #f6bb73 0%,
    #f6bb73 30%,
    white 50%,
    #f6bb73 80%,
    #f6bb73 100%
  );
  background-image: linear-gradient(
    30deg,
    #f6bb73 0%,
    #f6bb73 30%,
    white 50%,
    #f6bb73 80%,
    #f6bb73 100%
  );
}
.navbar {
  background-color: #007bff;
}
.navbar-brand img {
  margin-right: 10px;
}
.navbar-toggler-icon {
  background-color: #343a40;
}
.navbar-nav .nav-link {
  color: #343a40;
}
.navbar-brand, .navbar-nav .nav-link {
    color: #ffffff;
}
nav a:hover {
  color: #ffffff; 
}
main {
  padding-bottom: 60px; 
}
/* Card styling */
.card {
  margin-bottom: 10px;
  float: left;
}
ul {
  list-style-type: none;
  padding-left: 20px;
}
ul li {
  margin-bottom: 10px;
}
/* Footer styling */
footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
